.fa-trash-o {
    font-size: large;
    float: right;
    color: mediumslateblue;
    margin: 0 5px;
}
.center {
    justify-content: center;
}
.fa-check {
    font-size: large;
    float: right;
    margin: 0 5px;
    color: forestgreen
}
.list-group-item.itemDone {
    text-decoration: line-through;
    color: lightslategrey;
}
.fa.fa-check.itemDone {
    color: lightslategrey;
}
.fa-edit {
    font-size: smaller;
    color: #227c27;
}
.text-center>sup {
    margin-left: 5px;
}
.hidden{
    display: none;
}